OPENAI_API_KEY="INSERT YOUR API KEY HERE"
OPENAI_MODEL="INSERT YOUR MODEL HERE"
OPENAI_BASE_URL="https://api.openai.com/v1"

GUARDRAILS_MODEL="INSERT YOUR MODEL HERE"

CURRENCY="INSERT YOUR CURRENCY HERE"
